.header{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.navbar{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.navbar_list{
    list-style: none;
    display: flex;
    margin-left: auto;
    justify-content: space-between;
}
.navbar_item {
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.navbar_item a{
    text-decoration: none;
    color: orange;
    padding: 8px 16px;
    border-radius: 7px;
    transition: all .3s ease;
}
.navbar_item a:hover{
    color: teal;
    background-color: orange;
}